{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Demo</title>
	<style type="text/css">
	body{
		background-color:dodgerblue;
		color:white;
	}

	</style>
</head>
<body>
<center>
	<h1>Hello I am home...</h1>
	<img src="{% static 'd.jpg' %}" style="width:500px; width:500px;">
	<br>
	<h1><a href="{% url 'about' %}">About</a> 
	<a href="{% url 'login' %}">Login</a>
	<a href="{% url 'signup' %}">Signup</a></h1>
	<h2><a href="{% url 'artlist' %}">Article List</a></h2>
	<h2><a href="{% url 'artcreate' %}">Create Post</a></h2>
</center>
</body>
</body>
</html>