<!DOCTYPE html>
<html>
<head>
	<title>Detail</title>
	<style type="text/css">
		a{
			text-decoration: none;background-color: black;color:white; padding: 10px 20px;
			border-radius: 10px;
		}
		a:hover{
			background-color:blue;
			color:white;
			box-shadow: 5px 5px 10px black;
		}
	</style>
</head>
<body>
<p>Sn. {{data.id}}</p>
<p>Title. {{data.title}}</p>
<p>Body. {{data.body}}</p>
<p>Author. {{data.author}}</p>
<p>Date. {{data.adate}}</p>
<a href="{% url 'delete' pk=data.id %}">Delete</a>
<a href="{% url 'update' pk=data.id %}">Update</a>
</body>
</html>