<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
    li a{
      color:white !important;
    }
    .abc{
      color:white !important;
    }
  </style>
</head>
<body>
{% if user.is_superuser %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand abc" href="{% url 'dashboard' %}">Dashboard</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'manage_users' %}">Manage User</a></li>
      <li><a href="{% url 'manage_questions' %}">Manage Questions</a></li>
      <li><a href="{% url 'change_password' %}">Change Password</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
</nav>
{% else %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'dashboard' %}">Dashboard</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'quiz' %}">Quiz</a></li>
      <li><a href="{% url 'change_password' %}">Change Password</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
</nav>
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>