{% extends 'base.html' %}
{% load static %}
{% block content %}
	<style type="text/css">
	body{
		margin: 0;
		padding: 0;
		font-family:century gothic;
		color:white;
	}
	#main{
		background-image: url('{% static 'images/design.jpg' %}');
		background-size:100% 100%;
		padding-bottom: 100px;
	}
	#jumb{
		position:relative;
		background-color: rgba(0,0,0,0);
		color:white;
	}
	a{
		color:white;
	}
	#abc{
		background-color: rgba(0,0,0,0.1);
	}
	.abc{
		padding: 0px 100px;
		background-color: rgba(0,0,0,0.5);
		padding: 60px 50px 100px 50px;
	}
	</style>
<div class="container-fluid" id='main'>
	<div class="container jumbotron" id='abc' data-aos="fade-down">

			<form action="{% url 'register' %}" method="POST">
				{% for message in messages %}
				<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ message }}
				</div>
				{% endfor %}
				{% csrf_token %}
				<div class="container abc">
					<h2 style="margin-bottom: 40px;">
						<i class="fa fa-user-plus" style="font-size: 30px;"></i> Sign Up
					</h2>
					<h5 style="padding-bottom: 20px;">Create Your Account, it's free and only takes a minute</h5>

							<div class="form-group col-md-5 col-sm-5" style="padding: 5px 0px;">
								<label for='firstname'>First Name:</label>
								<input type="text" class='form-control' name="fname" placeholder="First Name">
							</div>
							<div class="col-md-1 col-sm-1"></div>
							<div class="form-group col-md-5 col-sm-5" style="padding: 5px 0px">
								<label for='lastname'>Last Name:</label>
								<input type="text" class='form-control' name="lname" placeholder="Last Name">
							</div>
							<div class="form-group col-md-11 col-sm-11" style="padding: 5px 0px;">
								<label for='username'>Username:</label>
								<input type="text" class='form-control' name="username" placeholder="Username">
							</div>
							<div class="form-group col-md-11 col-sm-11" style="padding: 5px 0px;">
								<label for='email'>Email:</label>
								<input type="text" class='form-control' name="email" placeholder="Email">
							</div>
							<div class="form-group col-md-5 col-sm-5" style="padding:5px 0px;">
								<label for='password'>Password:</label>
								<input type="password" class='form-control' name="password">
							</div>
							<div class="col-md-1 col-sm-1"></div>
							<div class="form-group col-md-5 col-sm-5" style="padding: 5px 0px;">
								<label for='confirm_password'>Confirm Password:</label>
								<input type="password" class='form-control' name="confirm_password">
							</div>
							<div class="form-group" style="margin:20px 0px;">
								<label for='confirm_password'>
								<input type="checkbox" name="checkbox" style="margin-right: 10px;">  I accept the Terms of Use & Privacy Policy
								</label>
							</div>
							<div class="form-group" style="margin:20px 0px;">
								<input type="submit" class="btn btn-primary" value="Register" style="padding: 10px 50px;">
							</div>
							<h5 style="color:dodgerblue">Already have an account? <a href="{% url 'login' %}"> Click Here</a></h5>
							
				</div>
			</form>
			</div>
	</div>
</div>
{% endblock %}