{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
	body{
		margin: 0;
		padding: 0;
		font-family:century gothic;
		color:white;
	}
	#main{
		background-image:linear-gradient(dodgerblue,grey,black);
		background-size:100% 100%;
	}
	#jumb{
		position:relative;
		background-color: rgba(0,0,0,0);
		color:white;
	}
	a{
		color:white;
	}
	#abc{
		background-color: rgba(0,0,0,0.1);
		padding: 50px;
		margin-bottom:100px;
	}
	</style>
</head>
<body>
<div class="container-fluid" id='main'>
	<div class="jumbotron" id='jumb'>
		<div class="col-md-3 col-lg-3 col-sm-1">
		</div>
		<div class="col-md-6 col-lg-6 col-sm-10" id='abc'>
			<center>
				<a href="index.html"><img style="margin-left: 30px;" src="{% static 'img/logo.png' %}" alt="" /></a>
			</center>
			<h2 style="text-align: center;">Register Here</h2>
			<form action="{% url 'register' %}" method="POST">
				{% csrf_token %}
				{% for message in messages %}
				<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" color:white;">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					{{ message }}
				</div>
				{% endfor %}
				{% csrf_token %}
				<div class="form-group" style="padding: 5px 0px;">
					<label for='Firstname'>Firstname:</label>
					<input type="text" class='form-control' name="firstname">
				</div>
				<div class="form-group" style="padding: 5px 0px;">
					<label for='lastname'>Lastname:</label>
					<input type="text" class='form-control' name="lastname">
				</div>
				<div class="form-group " style="padding: 5px 0px;">
					<label for='username'>Username:</label>
					<input type="text" class='form-control' name="username">
				</div>
				<div class="form-group " style="padding: 5px 0px;">
					<label for='email'>Email:</label>
					<input type="text" class='form-control' name="email">
				</div>
				<div class="form-group " style="padding: 5px 0px;">
					<label for='password'>Password:</label>
					<input type="password" class='form-control' name="password">
				</div>
				<div class="form-group " style="padding: 5px 0px;">
					<label for='confirmpassword'>Confirm Password:</label>
					<input type="password" class='form-control' name="confirmpassword">
				</div>
				<div class="form-group " style="padding: 10px 0px;">
					<input type="submit" class="btn btn-success form-control"  name="register" value="Register" style="padding: 5px 30px;">
				</div>
				<p style="font-size:16px; font-style:bold;color:white;text-align: center;">Already have account? <a href="{% url 'login' %}"> Click Here</a></p>
			</form>
	</div>
</div>
</body>
</html>