<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
	body{
		margin: 0;
		padding: 0;
		font-family:century gothic;
	}
	a{
		color:white;
	}
	span{
		background-color: white;
	}
	#abc{
		font-size: 25px;
	}
	#abc:hover{
		color:white;
		background-color: black;
	}
	#a:active{
		background-color: black;
	}
	#main{
		width:100%;
		padding-bottom: 260px;
		background-repeat: no-repeat;
		background-size: cover;
		background-image:url(/static/d.jpg);}
	#jum{
		position: relative;
		top:100px;
		background-color: rgba(0,0,0,0); 
		color:white; 
	}
	</style>
</head>
<body data-spy="scroll" data-target="#main">
<nav class="navbar navbar-fixed-top" style="background-image:linear-gradient(to top left,black,blue);" >
	<div class="container">
		<div class="navbar-header">
			<a id="abc" href="{% url 'home' %}" class="navbar-brand">NewProject</a>
			<button class="navbar-toggle" data-toggle='collapse' data-target="#mydiv">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="mydiv">
			<ul class="nav navbar-nav">
				<li><a id="a" href="{% url 'home' %}">HOME</a></li>
				<li><a id="a" href="{% url 'about' %}">ABOUT</a></li>
				<li><a id="a" href="{% url 'contact' %}">CONTACT</a></li>
				<li><a id="a" href="{% url 'service' %}">SERVICE</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'login' %}"><i class="fa fa-user" style="margin-right: 8px;"></i>LOGIN</a></li>
				<li><a href="{% url 'signup' %}"><i class="fa fa-sign-in" style="margin-right: 8px;"></i>SIGNUP</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid" id="main">
	
	<div class="container jumbotron" id="jum" data-aos="fade-down">
		<h1 style="margin-bottom: 20px; font-size: 45px;">Services That We Provide</h1>
		<p style="margin-bottom: 20px;">This is the homepage, within a few seconds of landing on your website, visitors have already formed their first impression of your company. Your homepage is like a hotel lobby; visitors aren't going to linger there for long, but they expect it to be attractive, clean and easy to navigate.</p>
		<a class="btn btn-danger btn-lg" href="{% url 'about' %}">More</a>
	</div>

</div>

<script>
  AOS.init({
  	duration:3000,
  });
</script>




</body>
</html>